:root{
    --blue-color : rgb(0, 69, 90);
    --gold-color : rgb(157, 147, 0);
    --red-color : rgb(94, 0, 0);
    --darkblue_color : rgb(0, 0, 71);
    --darklightblue-color : rgb(4, 0, 123);
    --black-color : rgb(0,0,0);
    --white-color : rgb(255, 255, 255);
    --green-color : rgb(4, 43, 0);
}